<!DOCTYPE html>


<head>

  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./img/cloud.png">
  <title>not found</title>
</head>

<body>
  <div class="main-content">
    {{>header}}

    <p>{{errorMessage}}</p>
  </div>
  {{>footer}}
</body>

</html>