<!DOCTYPE html>


<head>

  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./img/cloud.png">
  <script src="/js/app.js"></script>
  <title>about</title>
</head>

<body>
  <div class="main-content">
    {{>header}}

    <h1>about weather</h1>
    <p>Here we will provide you the best forecast of weather for your location</p>
  </div>
  {{>footer}}
</body>

</html>