<!DOCTYPE html>


<head>

  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./img/cloud.png">
  <script src="/js/app.js"></script>
  <title>help</title>
</head>

<body>
  <div class="main-content">
    {{>header}}

    <h1>Hope that you wil find according to your search</h1>
  </div>
  {{>footer}}
</body>

</html>