<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./img/cloud.png">
  <title>weather</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Weather Forecasts</p>
    <form action="">
      <input type="text" placeholder="location">
      <button>Search</button>
    </form>

    <p id="location"> </p>
    <p id="description"></p>
    <p id="temp"></p>
    <p id="is_day"></p>
    <p id="pressure"></p>
    <p id="humidity"></p>
    <p id="wind_dir"></p>
    <p id="visibility"></p>
    <p id="lat"></p>
    <p id="lon"></p>



  </div>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>