<!DOCTYPE html>


<head>

  <link rel="stylesheet" href="./css/style.css">
  <script src="/js/app.js"></script>
  <title>Document</title>
</head>

<body>
  <h1>weather</h1>
  <img src="/public/img/20190707_160131.jpg" alt="">
</body>

</html>